.card {
    height: 300px;
    opacity: .7
}

#section {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
}

.homeWrapper {
    background-image: url(./weekndTwo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px
}

#weeknd {
    height: 100px
}